/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}



/* regole di debug */
[class*="col-"] {
  min-height: 60px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

.centra-head-foot{
  padding: 0 10%;
}

/* header */

header {
  padding-top: 60px;
}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: white;
}

#nav-mobile {
  display: none;
}

.logo-helbiz{
  text-align: center;
  margin-top: 15px;
  /* margin-bottom: 10px; */
}

ul{
  list-style: none;
}

#right-nav::after{
  display: table;
  content: "";
  clear: both;
}

#right-nav li{
  font-size: 12px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
  /* margin-bottom: 22px; */
}

#jumbo {
  padding-top: 200px;
  min-height: 500px;
  background-image: url(../img/helbiz-unlimeted-monopattini.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

#inside-jumbo h1:first-child {
  text-align: center;
  font-size: 40px;
  color: white;
}

#inside-jumbo p:nth-child(2) {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.badges{
  margin-left: 30%;
  margin-top: 15px;
}

.badges img:nth-child(1){
  width: 150px;
}

.badges img:nth-child(2){
  width: 140px;
}

/* regole corpo pagina */

.centra-sez1 {
  /* padding: 0 10%; */
  margin-left: 3%;
}

/* seione prodotti */

#products-container{
  width: 90%;
  margin: auto;
}

#products{
  background-color: rgb(250,250,250);
  width: 47%;
  margin-right: 3%;
  margin-bottom: 40px;
}

a{
  text-decoration: none;
}

#products h1:nth-child(1){
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}

#products h2:nth-child(2){
  text-align: center;
  padding-top: 20px;
}

#products a:nth-child(3){
  display: inline-block;
  padding-left: 42%;
  padding-top: 15px;
}

/* sezione how does it work */

#top-how-to{
  background-image:url(../img/Helbiz-1024x424.jpg);
  min-height: 400px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

.bottom-how-to{
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: -300px;
}

#work h1:first-child{
  padding-left: 60%;
  padding-top: 30%;
  /* padding-bottom: 30% */
}

#phone{
  max-width:25%;
  position: relative;
  bottom: 300px;
  left: 60px;
}

#step h3:nth-child(1){
  padding-left: 40%;
  padding-top: 30%
}

#step p:nth-child(2){
  padding-left: 40%;
}

/* sezione smart mobility */
.smart-mobility{
  width: 90%;
  margin: auto;
  background-image:url(../img/scooter.f0a0397.jpg);
  min-height: 400px;
  background-size:cover;
  margin-top: 5%;
}

#mobility-right{
  margin-top: -100px;
  text-align: center;
}

#mobility-right h1:nth-child(1){
  font-size: 40px;
}

/* get app */
.get-app{
  width: 90%;
  margin: auto;
  margin-top: 25px;
}

#get-the-app{
  background: rgb(36,38,79);
  background: radial-gradient(circle, rgba(36,38,79,0.6786064767703957) 0%, rgba(76,78,82,1) 100%);
  text-align: center;
  line-height: 1.9;
  color: white;
  padding-top: 15px;
  width: 47%;
  margin-right: 3%;
}

@media screen and (max-width: 768px) {
#get-the-app{
  background: rgb(36,38,79);
  background: radial-gradient(circle, rgba(36,38,79,0.6786064767703957) 0%, rgba(76,78,82,1) 100%);
  text-align: center;
  line-height: 1.9;
  color: white;
  padding-top: 15px;
  margin-left: 30%;
  margin-bottom: 5%;
}

}

#map{
  margin-top: 20px;
  margin-bottom: -10px;
}

#find-us-around{
  background-image: url(../img/sfondo_info3.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 394px;
  text-align: center;
  line-height: 1.9;
  color: white;
  padding-top: 15px;
}
