/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}



/* regole di debug */
[class*="col-"] {
  min-height: 60px;
  /* background-color: lightgreen;
  border: solid 1px  #000; */
  padding: 2px;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

.centra-head-foot{
  padding: 0 10%;
}

/* header */

header {
  padding-top: 60px;
}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: white;
}

#nav-mobile {
  display: none;
}

.logo-helbiz{
  text-align: center;
  margin-top: 15px;
  /* margin-bottom: 10px; */
}

ul{
  list-style: none;
}

#right-nav::after{
  display: table;
  content: "";
  clear: both;
}

#right-nav li{
  font-size: 12px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
  /* margin-bottom: 22px; */
}

#jumbo {
  padding-top: 200px;
  min-height: 500px;
  background-image: url(../img/helbiz-unlimeted-monopattini.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

#inside-jumbo h1:first-child {
  text-align: center;
  font-size: 40px;
  color: white;
}

#inside-jumbo p:nth-child(2) {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.badges{
  margin-left: 180px;
  margin-top: 15px;
}

.badges img:nth-child(1){
  width: 150px;
}

.badges img:nth-child(2){
  width: 140px;
}

/* regole corpo pagina */

.centra-sez1 {
  /* padding: 0 10%; */
  margin-left: 90px;
}

/* seione prodotti */
#products{
  background-color: rgb(250,250,250);
  width: 45%;
  margin-right: 3%;
  margin-bottom: 40px;
}

a{
  text-decoration: none;
}

#products h1:nth-child(1){
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}

#products h2:nth-child(2){
  text-align: center;
  padding-top: 20px;
}

#products a:nth-child(3){
  display: inline-block;
  padding-left: 42%;
  padding-top: 15px;
}

/* sezione how does it work */

#top-how-to{
  background-image:url(../img/Helbiz-1024x424.jpg);
  min-height: 400px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

.bottom-how-to{
  width: 90%;
  margin: auto;
  /* position: relative; */
}

#work h1:first-child{
  margin-left: 60%;
  margin-top: 30%;
  margin-bottom: 30%
}

#phone{
  width:300px;
  position: relative;
  bottom: 300px;
  left: 60px;
}

#step h3:nth-child(1){
  padding-left: 40%;
  padding-top: 30%
}

#step p:nth-child(2){
  padding-left: 40%;
}
